<div ng-if="$ctrl.error">
	<h1>Could not load the list of users</h1>
	<p ng-bind="$ctrl.error"></p>
</div>

<div ng-if="$ctrl.isLoading">
	Loading...
</div>

<div ng-if="!$ctrl.error && !$ctrl.isLoading">
	<h1>Site Users</h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Username</th>
				<th>E-mail</th>
				<th>Address</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in $ctrl.users | orderBy: '-name'" ng-click="$ctrl.goToUser(user)">
				<td ng-bind="user.name"></td>
				<td ng-bind="user.username"></td>
				<td><a ng-attr-href="{{'mailto:' + user.email}}" ng-bind="user.email"></a></td>
				<td>
					<div ng-bind="user.address.street"></div>
					<div><span ng-bind="user.address.city"></span> <span ng-bind="user.address.zipcode"></span></div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
